# DEC Lab Assingment 1 

Name: Om Walkey
Roll no: 30

In [1]:
import pandas as pd
df=pd.read_excel("D:\\myDB\\Absenteeism_at_work.xls")
df

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,11,26,7,3,1,289,36,13,33,239554,...,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,50,239554,...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,239554,...,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,33,239554,...,0,1,2,1,0,1,90,172,30,2
5,3,23,7,6,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,2
6,10,22,7,6,1,361,52,3,28,239554,...,0,1,1,1,0,4,80,172,27,8
7,20,23,7,6,1,260,50,11,36,239554,...,0,1,4,1,0,0,65,168,23,4
8,14,19,7,2,1,155,12,14,34,239554,...,0,1,2,1,0,0,95,196,25,40
9,1,22,7,2,1,235,11,14,37,239554,...,0,3,1,0,0,1,88,172,29,8
10,20,1,7,2,1,260,50,11,36,239554,...,0,1,4,1,0,0,65,168,23,8
11,20,1,7,3,1,260,50,11,36,239554,...,0,1,4,1,0,0,65,168,23,8
12,20,11,7,4,1,260,50,11,36,239554,...,0,1,4,1,0,0,65,168,23,8
13,3,11,7,4,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,1
14,3,23,7,4,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,4
15,24,14,7,6,1,246,25,16,41,239554,...,0,1,0,1,0,0,67,170,23,8
16,3,23,7,6,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,2
17,3,21,7,2,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,8
18,6,11,7,5,1,189,29,13,33,239554,...,0,1,2,0,0,2,69,167,25,8
19,33,23,8,4,1,248,25,14,47,205917,...,0,1,2,0,0,1,86,165,32,2
20,18,10,8,4,1,330,16,4,28,205917,...,0,2,0,0,0,0,84,182,25,8
21,3,11,8,2,1,179,51,18,38,205917,...,0,1,0,1,0,0,89,170,31,1
22,10,13,8,2,1,361,52,3,28,205917,...,0,1,1,1,0,4,80,172,27,40
23,20,28,8,6,1,260,50,11,36,205917,...,0,1,4,1,0,0,65,168,23,4
24,11,18,8,2,1,289,36,13,33,205917,...,0,1,2,1,0,1,90,172,30,8
25,10,25,8,2,1,361,52,3,28,205917,...,0,1,1,1,0,4,80,172,27,7
26,11,23,8,3,1,289,36,13,33,205917,...,0,1,2,1,0,1,90,172,30,1
27,30,28,8,4,1,157,27,6,29,205917,...,0,1,0,1,1,0,75,185,22,4
28,11,18,8,4,1,289,36,13,33,205917,...,0,1,2,1,0,1,90,172,30,8
29,3,23,8,6,1,179,51,18,38,205917,...,0,1,0,1,0,0,89,170,31,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
710,23,22,6,5,3,378,49,11,36,275089,...,0,1,2,0,1,4,65,174,21,8
711,36,19,6,5,3,118,13,18,50,275089,...,0,1,1,1,0,0,98,178,31,24
712,12,19,6,6,3,233,51,1,31,275089,...,0,2,1,1,0,8,68,178,21,8
713,22,27,6,6,3,179,26,9,30,275089,...,0,3,0,0,0,0,56,171,19,2
714,2,0,6,2,3,235,29,12,48,275089,...,1,1,1,0,1,5,88,163,33,0
715,21,0,6,2,3,268,11,8,33,275089,...,1,2,0,0,0,0,79,178,25,0
716,36,19,6,5,3,118,13,18,50,275089,...,0,1,1,1,0,0,98,178,31,3
717,22,13,6,5,3,179,26,9,30,275089,...,0,3,0,0,0,0,56,171,19,2
718,15,28,6,5,3,291,31,12,40,275089,...,0,1,1,1,0,1,73,171,25,2
719,22,13,6,2,1,179,26,9,30,275089,...,0,3,0,0,0,0,56,171,19,3
720,34,25,6,2,1,118,10,10,37,275089,...,0,1,0,0,0,0,83,172,28,3
721,12,22,6,5,1,233,51,1,31,275089,...,0,2,1,1,0,8,68,178,21,8
722,34,8,6,6,1,118,10,10,37,275089,...,0,1,0,0,0,0,83,172,28,2
723,34,10,6,4,1,118,10,10,37,275089,...,0,1,0,0,0,0,83,172,28,3
724,12,22,6,4,1,233,51,1,31,275089,...,0,2,1,1,0,8,68,178,21,3
725,5,26,7,4,1,235,20,13,43,264604,...,0,1,1,1,0,0,106,167,38,4
726,12,19,7,6,1,233,51,1,31,264604,...,0,2,1,1,0,8,68,178,21,2
727,9,6,7,2,1,228,14,16,58,264604,...,0,1,2,0,0,1,65,172,22,8
728,34,28,7,2,1,118,10,10,37,264604,...,0,1,0,0,0,0,83,172,28,4
729,9,6,7,3,1,228,14,16,58,264604,...,0,1,2,0,0,1,65,172,22,120
730,6,22,7,3,1,189,29,13,33,264604,...,0,1,2,0,0,2,69,167,25,16
731,34,23,7,4,1,118,10,10,37,264604,...,0,1,0,0,0,0,83,172,28,2
732,10,22,7,4,1,361,52,3,28,264604,...,0,1,1,1,0,4,80,172,27,8
733,28,22,7,4,1,225,26,9,28,264604,...,0,1,1,0,0,2,69,169,24,8
734,13,13,7,2,1,369,17,12,31,264604,...,0,1,3,1,0,0,70,169,25,80
735,11,14,7,3,1,289,36,13,33,264604,...,0,1,2,1,0,1,90,172,30,8
736,1,11,7,3,1,235,11,14,37,264604,...,0,3,1,0,0,1,88,172,29,4
737,4,0,0,3,1,118,14,13,40,271219,...,0,1,1,1,0,8,98,170,34,0
738,8,0,0,4,2,231,35,14,39,271219,...,0,1,2,1,0,2,100,170,35,0
739,35,0,0,6,3,179,45,14,53,271219,...,0,1,1,0,0,1,77,175,25,0

In [2]:
df.mean()

ID                                     18.017568
Reason for absence                     19.216216
Month of absence                        6.324324
Day of the week                         3.914865
Seasons                                 2.544595
Transportation expense                221.329730
Distance from Residence to Work        29.631081
Service time                           12.554054
Age                                    36.450000
Work load Average/day              271490.235135
Hit target                             94.587838
Disciplinary failure                    0.054054
Education                               1.291892
Son                                     1.018919
Social drinker                          0.567568
Social smoker                           0.072973
Pet                                     0.745946
Weight                                 79.035135
Height                                172.114865
Body mass index                        26.677027
Absenteeism time in hours               6.924324
dtype: float64

In [3]:
df.head(4)          # display first 4

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,11,26,7,3,1,289,36,13,33,239554,...,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,50,239554,...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,239554,...,0,1,2,1,1,0,68,168,24,4

In [4]:
df.mode()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,3,23,3,2,4,179,26,18,28,222196,...,0,1,0,1,0,0,89,170,31,8

In [6]:
df.tail(4)              # display last 4

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
736,1,11,7,3,1,235,11,14,37,264604,...,0,3,1,0,0,1,88,172,29,4
737,4,0,0,3,1,118,14,13,40,271219,...,0,1,1,1,0,8,98,170,34,0
738,8,0,0,4,2,231,35,14,39,271219,...,0,1,2,1,0,2,100,170,35,0
739,35,0,0,6,3,179,45,14,53,271219,...,0,1,1,0,0,1,77,175,25,0

In [8]:
df.iloc[10:20]             # display between 10 to 20

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
10,20,1,7,2,1,260,50,11,36,239554,...,0,1,4,1,0,0,65,168,23,8
11,20,1,7,3,1,260,50,11,36,239554,...,0,1,4,1,0,0,65,168,23,8
12,20,11,7,4,1,260,50,11,36,239554,...,0,1,4,1,0,0,65,168,23,8
13,3,11,7,4,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,1
14,3,23,7,4,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,4
15,24,14,7,6,1,246,25,16,41,239554,...,0,1,0,1,0,0,67,170,23,8
16,3,23,7,6,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,2
17,3,21,7,2,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,8
18,6,11,7,5,1,189,29,13,33,239554,...,0,1,2,0,0,2,69,167,25,8
19,33,23,8,4,1,248,25,14,47,205917,...,0,1,2,0,0,1,86,165,32,2

In [9]:
df.dtypes            # data types

ID                                 int64
Reason for absence                 int64
Month of absence                   int64
Day of the week                    int64
Seasons                            int64
Transportation expense             int64
Distance from Residence to Work    int64
Service time                       int64
Age                                int64
Work load Average/day              int64
Hit target                         int64
Disciplinary failure               int64
Education                          int64
Son                                int64
Social drinker                     int64
Social smoker                      int64
Pet                                int64
Weight                             int64
Height                             int64
Body mass index                    int64
Absenteeism time in hours          int64
dtype: object

In [10]:
df.columns

Index(['ID', 'Reason for absence', 'Month of absence', 'Day of the week',
       'Seasons', 'Transportation expense', 'Distance from Residence to Work',
       'Service time', 'Age', 'Work load Average/day ', 'Hit target',
       'Disciplinary failure', 'Education', 'Son', 'Social drinker',
       'Social smoker', 'Pet', 'Weight', 'Height', 'Body mass index',
       'Absenteeism time in hours'],
      dtype='object')

In [11]:
df.size                     # size of data

15540

In [12]:
df.ndim                     # dimension

2

In [13]:
df.shape                    # shape of dataset

(740, 21)

In [27]:
df.describe()                # Statistical summary of data

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
count,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,...,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000
mean,18.017568,19.216216,6.324324,3.914865,2.544595,221.329730,29.631081,12.554054,36.450000,271490.235135,...,0.054054,1.291892,1.018919,0.567568,0.072973,0.745946,79.035135,172.114865,26.677027,6.924324
std,11.021247,8.433406,3.436287,1.421675,1.111831,66.952223,14.836788,4.384873,6.478772,39058.116188,...,0.226277,0.673238,1.098489,0.495749,0.260268,1.318258,12.883211,6.034995,4.285452,13.330998
min,1.000000,0.000000,0.000000,2.000000,1.000000,118.000000,5.000000,1.000000,27.000000,205917.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,56.000000,163.000000,19.000000,0.000000
25%,9.000000,13.000000,3.000000,3.000000,2.000000,179.000000,16.000000,9.000000,31.000000,244387.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,69.000000,169.000000,24.000000,2.000000
50%,18.000000,23.000000,6.000000,4.000000,3.000000,225.000000,26.000000,13.000000,37.000000,264249.000000,...,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,83.000000,170.000000,25.000000,3.000000
75%,28.000000,26.000000,9.000000,5.000000,4.000000,260.000000,50.000000,16.000000,40.000000,294217.000000,...,0.000000,1.000000,2.000000,1.000000,0.000000,1.000000,89.000000,172.000000,31.000000,8.000000
max,36.000000,28.000000,12.000000,6.000000,4.000000,388.000000,52.000000,29.000000,58.000000,378884.000000,...,1.000000,4.000000,4.000000,1.000000,1.000000,8.000000,108.000000,196.000000,38.000000,120.000000

In [15]:
df["Age"].mean()

36.45

In [21]:
Petcount=df[df["Pet"]>0]                #How many employees have pets ?
Petcount["Pet"].count()

280

In [24]:
df["Month of absence"].mode()           # Month when most employees remain absent

0    3
dtype: int64

In [25]:
df["Day of the week"].mode()             ## What is the day of the week when most employees are absent ?

0    2
dtype: int64

In [28]:
SDcount=df[df["Social drinker"]>0]          ## How many employees are social drinkers ?
SDcount["Social drinker"].count()

420

In [29]:
df["Age"].max()       # Max age of employee

58

In [30]:
df["Age"].min()       # Min age of employee

27

In [31]:
df["Age"].mean()      # What is the average age of employees ?

36.45

In [32]:
df["Seasons"].mode()   # In which season most of the employees remain absent

0    4
dtype: int64

In [33]:
df["Distance from Residence to Work"].mean()      #What is the average distance of residence ?

29.63108108108108

In [34]:
df["Reason for absence"].mode()         #What is the most common reason of absence ?

0    23
dtype: int64

In [35]:
df["Service time"].mode()             #What is the service time of most of the employees?

0    18
dtype: int64

In [36]:
Dcount=df[df["Disciplinary failure"]>0]
Dcount["Disciplinary failure"].count()         # How many disciplinary failure employees ?

40

In [37]:
df["Education"].mode()              # What is the education of most employees ?

0    1
dtype: int64